* {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: aliceblue;
    box-sizing: border-box;
    position: relative;


}

body {
    margin: 0;
}

.divone h1 {
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
}

span {
    color: #4d648d;

}

.divone h3 {
    color: aliceblue;
    font-weight: bold;
}

.head-banner {
    display: flex;
    background-image: url(images/Untitled\ design.png);
    background-repeat: no-repeat;
    margin-bottom: 110px;
}

.divone {
    width: 50%;
    padding-left: 4%;
    padding-right: 5px;
    margin-top: 40px;
}

.divtwo {
    width: 50%;
}

.divtwo img {
    width: 85%;
}

.divone a {
    border: 2px solid transparent;
    text-decoration: none;
    background-image: linear-gradient(#4d648d, #94A2BA);
    padding: 9px 38px;
    font-size: 22px;
    border-radius: 9px;
    font-weight: 700;



}

.divone a:hover {
    text-decoration: underline;

}

.secondone {
    display: flex;
    margin-bottom: 130px;

}

.divthree {
    width: 50%;
}

.divthree img {
    width: 85%;
}

.divfour {
    width: 50%;
    padding-right: 6%;
    padding-top: 17%;
}

.divfour h1 {
    font-size: 50px;
}

.divfour h3 {
    font-size: 30px;
    font-weight: 700;
}

.divfour a {
    border: 2px solid transparent;
    text-decoration: none;
    background-image: linear-gradient(#4d648d, #94A2BA);
    padding: 9px 38px;
    font-size: 22px;
    border-radius: 9px;
    font-weight: 700;
}



.divfifth {
    display: flex;
    margin-top: 60px;
}

.experience-item {

    width: 40%;
    box-shadow: 15px 15px 60px #4d648d;
    padding: 20px 10px 90px 40px;
    margin: 0px 20px 30px 80px;
    border-left: 9px solid #4d648d;
    border-radius: 10px;
}

.experience-item h1 {
    font-size: 40px;
}

.experience-item h3 {
    color: #4d648d;
    font-size: 27px;
    font-weight: 700;
}
footer p{
    margin-top: 200px;
    text-align: center;
}